@model ProfileInfoModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post" class="p-3 mx-auto w-75 shadow">
    <div class="mb-3">
        <label>Kullanıcı Adı:</label>
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        <input asp-for="@Model.UserName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Mail:</label>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
        <input asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Cinsiyet:</label>
        <span class="text-danger" asp-validation-for="@Model.Gender"></span>
        <input asp-for="@Model.Gender" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
    </div>

    <div class="text-danger mt-4" asp-validation-summary="ModelOnly">
    </div>
</form>

